.example-card {
    background-color: #7dff8f1c;
    max-width: 550px;
    padding: 20px;
    margin: 15px;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/favicon.ico');
    background-size: cover;
  }