<form [formGroup]="searchForm">
    <div class="teams-body">
        <div class="actions-top">
            <div class="buttons-selects-holder">
                <ng-content select="[buttons]"></ng-content>
                <div class="search-selects">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select placeholder="{{ 'vacancy.profession' | translate }}"
                                formControlName="profession">
                                <mat-option value=''>{{ 'all' | translate }}</mat-option>
                                <mat-option *ngFor="let profession of professions" [value]="profession.key">
                                    {{profession.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field style="margin-left: 20px;">
                            <mat-select placeholder="{{ 'vacancy.position' | translate }}" formControlName="position">
                                <mat-option value=''>{{ 'all' | translate }}</mat-option>
                                <mat-option *ngFor="let position of positions" [value]="position.key">{{position.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field style="margin-left: 20px;">
                            <mat-select placeholder="{{ 'vacancy.primary_technology' | translate }}"
                                formControlName="primaryTechnology">
                                <mat-option value=''>{{ 'all' | translate }}</mat-option>
                                <mat-option *ngFor="let technology of technologies" [value]="technology.key">
                                    {{technology.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group" style="margin-left: 100px;">
                        <label for="experienceFrom">Min years of experience</label>
                        <input type="number" [min]="0" [max]="500" formControlName="experienceFrom" class="form-control"
                            id="experienceFrom" placeholder="Min exp. years">
                    </div>
                    <div class="form-group">
                        <label for="experienceTo">Max years of experience</label>
                        <input type="number" [min]="0" [max]="500" formControlName="experienceTo" class="form-control"
                            id="experienceTo" placeholder="Max exp. years">
                    </div>
                    <div class="form-group" style="margin-left: 100px;min-width: 150px;">
                        <label for="minHourRate">Min hour rate ($)</label>
                        <input type="number" [min]="0" [max]="500" formControlName="minHourRate" class="form-control"
                            id="minHourRate" placeholder="Min rate ($)">
                    </div>
                    <div class="form-group" style="min-width: 150px;">
                        <label for="maxHourRate">Max hour rate ($)</label>
                        <input type="number" [min]="0" [max]="500" formControlName="maxHourRate" class="form-control"
                            id="maxHourRate" placeholder="Max rate ($)">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Employees
            </div>
            <ng-content select=[table]></ng-content>
            <mat-paginator #paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 30]"
                (page)="onPaginateChange($event)"></mat-paginator>
            <div class="card-footer">
                <ng-content select=[total]></ng-content>
            </div>
        </div>
    </div>
</form>