.buttons-selects-holder {
    display: flex;
    @media (max-width: 1023px) {
        display: block;
    }
}
.search-selects {
    display: flex;
    .form-group {
        @media (max-width: 1023px) {
            margin: 0;
        }
        padding: 15px;
    }
}
.actions-top {
    display: flex;
    margin: 0 0 1rem;
    justify-content: space-between;
    @media (max-width: 1199px) {
        display: block;
    }
    .buttons-selects-holder {
        flex: 0 0 auto;
    }
    .search-holder {
        margin-left: 15px;
        flex-grow: 1;
        padding-top: 20px;
        @media (max-width: 1199px) {
            width: 100%;
            max-width: 67.7rem;
        }
        @media (max-width: 1023px) {
            max-width: none;
        }
    }
}
