<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <img src="../../../assets/img/brand/logo_transparent.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <button type="button" class="btn btn-block btn-dark"
                        routerLink="/dashboard">{{'dashboard' | translate}}</button>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-primary"
                        routerLink="/login">{{'login' | translate}}</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-outline-primary"
                        routerLink="/register">{{'register' | translate}}</button>
                </div>
            </div>
        </div>
    </main>
</div>
<app-footer>
    <span>IT Employer &copy; 2020 creativeLabs.</span>
    <span class="ml-auto">Powered by IT Employer</span>
</app-footer>