<!-- <div class="app-body"> -->
<!-- <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <img src="../../../assets/img/brand/logo_transparent.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <button type="button" class="btn btn-block btn-dark"
                        routerLink="/dashboard">{{'dashboard' | translate}}</button>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-primary"
                        routerLink="/login">{{'login' | translate}}</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-outline-primary"
                        routerLink="/register">{{'register' | translate}}</button>
                </div>
            </div>
        </div>
    </main> -->
<div class="home-container">
    <div class="main-part">        
        <div class="main-text"></div>
        <div class="logo">
        </div>
        <div class="main-navigation">
            <div>
                <button type="button" class="btn btn-primary" routerLink="/login">{{'login' | translate}}</button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary"
                    routerLink="/register">{{'register' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="photos">
        <div class="row1">
            <div class="item1" style="background-image: url('./../../../assets/img/home/conference.jpg');">
            </div>
            <div class="item1" style="background-image: url('./../../../assets/img/home/people.jpg');">
            </div>
            <div class="item1" style="background-image: url('./../../../assets/img/home/lecture.jpg');">
            </div>
            <div class="item1" style="background-image: url('./../../../assets/img/home/ipod.jpeg');">
            </div>
        </div>
        <div class="row2">
            <div class="item2" style="background-image: url('./../../../assets/img/home/manager.jpg');">
            </div>
            <div class="item2" style="background-image: url('./../../../assets/img/home/handshake.png');">
            </div>
            <div class="item2" style="background-image: url('./../../../assets/img/home/work.jpg');">
            </div>
        </div>
    </div>
</div>
<!-- </div> -->