<form class="card" [formGroup]="form" (ngSubmit)="registerEmployee($event)">
    <div class="card-header">
        <strong>Employee Registration</strong>
    </div>
    <app-single-employee-register-form [form]="form"></app-single-employee-register-form>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
</form>